@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Merienda&family=Prompt:wght@300&family=Tourney:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Prompt:wght@300&family=Tourney:wght@100&display=swap');



*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html{
        scroll-behavior: smooth;
}

body{
  font-family: 'Caveat', cursive;
}

nav{
  float: right;
  position: fixed;
  background-color: rgb(37, 53, 53);
  height: 60px;
  width: 100%;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.308);
}

label.logo{
  color: #fff;
  font-size: 25px;
  font-family: 'Merienda', cursive;
  line-height: 60px;
  padding: 0 50px;
}

nav ul{
  float: right;
  margin-right: 20px;
}

nav ul li{
  display: inline-block;
  line-height: 60px;
  margin: 0 5px;
}

nav ul li a{
  color: #fff;
  font-size: 15px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform:uppercase;
}


a.active, a:hover{
  background:darkslategrey;
  transition: .5s;
}

.checkbtn{
  font-size: 25px;
  color: #fff;
  float: right;
  line-height: 60px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check{
  display: none;
}

label{
  text-align: center;
  font-size: 30px;
  color: #fff;

}

label span{
  font-family: "Prompt",sans-serif;
  font-size: 15px;
  font-weight: bold;
  
}

.fotoku img{
  width: 250px;
  height: 250px;
  border-radius: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  
}

.sosmed ul li{
  display: inline-block;
}

.sosmed ul li a{
  color:slategray;
  letter-spacing: 5px;
}

.skill{
  font-size: 20px;
  font-family: 'Merienda', cursive;
}

.skill h2{
  padding-top: 7rem;
  margin-top: 30px;
  font-size: 30px;
}
.skill h3{
  font-size: 15px;
  font-family: "Prompt",sans-serif;
  margin-bottom: 30px;
}

.skill ul{
  width: 80%;
  margin: -20px auto;
  background: darkslategray;
  padding: 20px 50px;
  border-radius: 8px;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.767);
}
.skill .level{
  background-color: rgb(19, 190, 190);
  margin: 10px 0;
  border-radius: 5px;
}
.skill .presentase{
  background-color: #fff;
  width: 100%;
  margin: 10px 0;
  border-radius: 5px;
}

#about, #contact{
  margin: 60px auto;
  font-family: 'Merienda', cursive;
  width: 50%;
  text-align: center;
  color: #fff;
  
}

#about h2, #porto h2{
  padding-top: 5rem;
  font-size: 30px;
}
#about h3, #portofolio h3, #contact{
  font-size: 15px;
}

#about h3, #about p, .grid p, #contact{
  font-family: "Prompt",sans-serif;
}
#about p{
  text-shadow: 7px 7px 10px rgba(0, 0, 0, 0.767);
  padding: 20px;
}

#about img{
  margin-top: 20px;
  width: 80%;
}

#porto h2, #contact h2{
  font-family: 'Merienda', cursive;
  text-align: center;
  font-size: 30px;
  color: #fff;
}

#portofolio{
  /*display: flex;*/
  color: #fff;
  font-family: 'Merienda', cursive;
  margin: 20px auto;
  width: 80%;
  text-align: center;
}


#portofolio img{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.767);
}

.grid{
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  font-family: "Prompt",sans-serif;
  background-color: darkslategray;
  border-radius: 5px;
  width: 50%;
}
.grid p{
  font-size: 15px;
}

#contact a:hover{
  display: inline-block;
  background-color: transparent;
  
}
#contact img{
  margin-top: 20px;
  width: 130px;
  -webkit-transition: width 3s;
  transition: .5s;
}

#contact img:hover{
  width: 150px;
}

section{
  background: rgb(36, 72, 73);
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 30px;
}

footer{
  display: inline-block;
  background: rgb(37, 53, 53);
  height: 30px;
  width: 100%;
  box-shadow: -7px -7px 10px rgba(0, 0, 0, 0.699);
  padding-top: 5px;
  font-family: 'Merienda', cursive;
  font-size: 10px;
  text-align: center;
  color: #fff;
}

footer i{
  color: red;
}

@media (max-width: 952px) {
  label.logo{
    font-size: 15px;
  }
  nav ul li a{
    font-size:13px;
  }
}

@media (max-width: 858px) {
  .checkbtn{
    display : block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background:rgba(40, 80, 82, 0.945);
    top: 60px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 0;
    line-height: 50px;
    text-align: center;
  }
  nav ul li a{
    font-size: 20px;
    letter-spacing: 3px;
    text-shadow: 7px 7px 10px rgba(255, 255, 255, 0.767);
  }
  a:hover,a.active{
    background: none;
    color:rgb(37, 59, 59);
  }
  #check:checked ~ ul{
    left: 0;
  }

  .sosmed ul{
    position:static;
    width: 100%;
    height: 0;
    transition: none;
  }
  .skill ul{
    position:static;
    width: 80%;
    height: 100%;
    transition: none;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 5px;
  }
  .skill h2, #about h2, #porto h2,#contact h2{
    padding-top: 5rem;
    margin-top: 80px;
    font-size: 20px;
  }
  .skill h3, #about h3, #portofolio,#contact h3{
    font-size: 13px;
  }
  
  .skill ul li{
    font-size: 15px;
  }
  .skill .level{
    background-color: rgb(19, 190, 190);
    margin: 10px 0;
    border-radius: 5px;
    height: 18px;
    font-size: 13px;
  }
  #about img{
    width: 100%;
  }
  #about p{
    margin-right: -50px;
    margin-left: -50px;
  }
  #portofolio .grid{
    width: 100%;
    margin: 20px auto;
  }
  #portofolio img{
    width: 100%;
  }

  footer{
    margin-bottom: 0;
  }

}